@media(max-width: 1200px) {
   .img {
    max-width: 1200px;
    width: 100%;
   }
   .main {
    flex-wrap: wrap;
    row-gap: 30px;
   }
   .part2 {
    max-width: 730px;
    width: 100%;
    margin-left: 0;
   }
   .info {
    margin-bottom: 10px;
   }
}

@media(max-width: 992px) {}

@media(max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .p1 {
        max-width: 630px;
        width: 100%;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .divlast {
        margin: 30px auto;
    }
}

@media(max-width: 576px) {}